.bodybg{
    background-color: #f9efca !important;
}
.containerbg{
    background-image: url('../img/background.jpg')  !important;
    height: auto;
}
.wlogoimg{
    max-width: 70%;
}
.wtext{
    max-width: 100%;
}
.wmgdiv{
    margin-top:50px;
}

.wslider{
    position: relative !important;
    height: 304px;
    background-color:white;
    border:1px solid #b39000;
}
.wcell{
    padding: 0px 2px;
}
.arrow-box{
    background-color: #ffce00;
    width:100%;
    height: 30px ;
    position: relative;
    bottom: 31px !important;
    opacity: 0.8;
}
.wslider .flickity-page-dots {
    bottom: 5px !important;
    z-index: 100;
    opacity: 1 ;
  }
  /* white circles */
  .wslider .flickity-page-dots .dot {
    margin: 2px !important;
    width: 10px !important;
    height: 10px !important;
    opacity: 1 !important;
    background: white !important;
  }
  /* fill-in selected dot */
  .wslider .flickity-page-dots .dot.is-selected {
    background: #2e3192 !important;
  }


 /* smaller, dark, rounded square */
.wslider .flickity-prev-next-button {
    background-color: #b39000 !important;
    width:30px !important;
    height: 30px !important;
    border-radius: 0px !important;
    z-index: 100 !important;
    opacity: 1 !important;
  }
  .wslider .flickity-prev-next-button:hover {
    background: #2e3192 !important;
  }
  /* arrow color */
  .wslider .flickity-prev-next-button .arrow {
    fill: white !important;
  }
  .wslider.flickity-prev-next-button.no-svg {
    color: white !important;
  }
  /* position outside */
  .wslider .flickity-prev-next-button.previous {
    top: 287px !important;
    left: 0px !important;
  }
  .wslider .flickity-prev-next-button.next {
    top: 287px !important;
    right: 0px !important;
  }
.cellimgdesc{
    position: absolute;
    bottom: 130px;
}
.cellimg{
    width:80%;
    background-color:rgba(46, 49, 146, 0.6);
}
@media screen and (max-width:900px){
    .wslider {    
        height: 250px !important;
    }
    .my-img{
        height: 246px !important;
    }
    .cellimgdesc{
        bottom: 170px;
    }
    .wslider .flickity-prev-next-button.previous {
        top: 233px !important;
        left: 0px !important;
      }
      .wslider .flickity-prev-next-button.next {
        top: 233px !important;
        right: 0px !important;
      }
    }
@media screen and (max-width:800px){
    .wslider {    
        height: 200px !important;
    }
    .my-img{
        height: 196px !important;
    }
    .cellimgdesc{
        bottom: 200px;
    }
    .wslider .flickity-prev-next-button.previous {
        top: 183.5px !important;
        left: 0px !important;
      }
      .wslider .flickity-prev-next-button.next {
        top: 183.5px !important;
        right: 0px !important;
      }
    }
@media screen and (max-width:700px){
    
    .cellimgdesc{
        bottom: 210px;
    }
    }
@media screen and (max-width:650px){
        .wslider {    
            height: 170px !important;
        }
        .my-img{
            height: 166px !important;
        }
        .cellimgdesc{
            bottom: 230px;
        }
        .arrow-box{
            bottom: 25px !important;
            height: 25px !important;
        }
        .wslider .flickity-prev-next-button {
            height: 24px !important;
            width: 24px !important;
        }
        .wslider .flickity-prev-next-button.previous {
            top: 156px !important;
            left: 0px !important;
          }
          .wslider .flickity-prev-next-button.next {
            top: 156px !important;
            right: 0px !important;
          }
    }
@media screen and (max-width:550px){
    .wslider {    
        height: 150px !important;
    }
    .my-img{
        height: 146px !important;
    }
    .cellimgdesc{
        bottom: 245px;
    }
    .wslider .flickity-prev-next-button.previous {
        top: 136px !important;
        left: 0px !important;
      }
      .wslider .flickity-prev-next-button.next {
        top: 136px !important;
        right: 0px !important;
      }
    }
@media screen and (max-width:450px){
    .wslider {    
        height: 130px !important;
    }
    .my-img{
        height: 126px !important;
    }
    .cellimgdesc{
        bottom: 260px;
    }
    .arrow-box{
        bottom: 20px !important;
        height: 20px !important;
    }
    .wslider .flickity-prev-next-button {
        height: 19px !important;
        width: 19px !important;
    }
    .wslider .flickity-prev-next-button.previous {
        top: 118px !important;
        left: 0px !important;
      }
      .wslider .flickity-prev-next-button.next {
        top: 118px !important;
        right: 0px !important;
      }
      .wslider .flickity-page-dots {
        bottom: 3px !important;
      }
      .wslider  .flickity-page-dots .dot{
          margin: 1px !important;
        height: 8px !important;
        width: 8px !important;
      }
    }